body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    width: 570px;
    margin: 100px auto;
    text-align: center;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 36px;
}

p {
    font-size: 21px;
}

small {
    font-size: 16px;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 span, h2 span {
    font-weight: bold;
    display: block;
}

a {
    color: #99D930;
    text-decoration: none;
}

a:hover {
    color: #131313;
}

header, .about-me, .articles {
    padding: 100px 0;
}

header {
    background-color: #D7D7D7;
}

.about-me {
    background-color: #FFEAEA;
}

.articles {
    background-color: #EAF9FF;
}
